/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Open+Sans:ital,wght@0,400;0,800;1,700&family=Work+Sans:ital,wght@0,400;0,500;0,700;1,900&display=swap');

/* shared styles */
* {

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
.text-light-gray{
    color:#727272;
}
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600px;
    padding: 20px 25px;
    color: #FFF;
    cursor: pointer;
    border: 0;
}
.section-title {
    color: #131313;
    /* text-align: center; */
    font-size: 2.8rem;
    font-weight: 700;

}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1em;
    font-weight: 500;
    /* 144.444% */
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;

}

/* .banner-description {
    color: #727272;

} */
.banner img{
    margin-top: 20px;
    width: 100%;
}


/* main styles */
main{
    width: 1440px;
    margin: 70px auto;
}
/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
    

}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);    
    gap: 1.5rem;
    
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    
    font-weight: 500;

}
.teams-title .text-features{
color: #FF900E;
font-size: 45px;
font-weight: 700;
}





/* mobile devices */
/* responsive media query */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container {
            flex-direction: column;
            /* flex-direction: row; */
    } 
    .teams-img-container{
        grid-template-columns: 1fr;
        margin-right: auto;
    }   
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 20px;
    }
    nav,.teams-container{
        flex-direction: column;
    }
    
}